* {
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-wrap: row;
  text-align: center;
}

.left {
  background-color: #3a90f3;
  padding: 10px;
  flex: 50%;
  text-align: left;
}

.right {
  background-color: rgb(21, 166, 171);
  padding: 10px;
  flex: 50%;
  text-align: left;
}

/* Responsive layout */
@media (max-width: 800px) {
  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }
}
