* {
  box-sizing: border-box;
}

.content {
  background-color: blueviolet;
  display: flex;
  flex-wrap: row;
  text-align: center;
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 3%;
}

.left {
  background-color: #6da69e;
  padding: 10px;
  flex: 50%;
  text-align: auto;
}

.right {
  background-color: rgb(21, 166, 171);
  padding: 10px;
  flex: 50%;
  text-align: auto;
}

/* Responsive layout */
@media (max-width: 800px) {
  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }
}
