* {
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-wrap: row;
  text-align: center;
}

.left {
  background-color: #f1b3b3;
  padding: 10px;
  flex: 50%;
  
}

.right {
  background-color: rgb(155, 184, 213);
  padding: 10px;
  flex: 50%;
}

/* Responsive layout */
@media (max-width: 800px) {
  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }
}
